.all-error-wrap{
    width: 1080px;
    margin: 0 auto;
    height: 100vh;
}

.error-wrap{
    top: 286px;
    position: absolute;
    text-align: center;
}

.error-header-wrap{
    position: absolute;
    top: 30px;
}

